In [1]:
import os
import numpy as np
import pandas as pd

os.getcwd()

'/home/anubrata/Documents/datascience'

In [2]:
arti_data=pd.read_csv("A_cip-1_SNP.csv",encoding="utf-16")

In [3]:
arti_data.head()

,Chrom,Position,Reference,Variant,Type,Zygosity,Quality,Coverage,Gene_ID,Trancript_ID,Exon_ID,Exon_Rank,Effect,old_AA/new_AA,Old_codon/New_codon,Codon_Num(CDS)
0,NC_003197.2,507,C,T,SNP,Hom,221.999,1028,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggC/ggT,57.0
1,NC_003197.2,537,A,C,SNP,Hom,221.999,1130,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,A/A,gcA/gcC,67.0
2,NC_003197.2,744,A,C,SNP,Hom,221.999,1316,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggA/ggC,136.0
3,NC_003197.2,747,T,C,SNP,Hom,221.999,1431,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,L/L,ctT/ctC,137.0
4,NC_003197.2,762,G,A,SNP,Hom,221.999,1355,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggG/ggA,142.0

In [4]:
rev_data=arti_data.drop(['Chrom','Type','Zygosity','Trancript_ID','Exon_ID'],axis=1)
rev_data.head()

,Position,Reference,Variant,Quality,Coverage,Gene_ID,Exon_Rank,Effect,old_AA/new_AA,Old_codon/New_codon,Codon_Num(CDS)
0,507,C,T,221.999,1028,thrA,1,SYNONYMOUS_CODING,G/G,ggC/ggT,57.0
1,537,A,C,221.999,1130,thrA,1,SYNONYMOUS_CODING,A/A,gcA/gcC,67.0
2,744,A,C,221.999,1316,thrA,1,SYNONYMOUS_CODING,G/G,ggA/ggC,136.0
3,747,T,C,221.999,1431,thrA,1,SYNONYMOUS_CODING,L/L,ctT/ctC,137.0
4,762,G,A,221.999,1355,thrA,1,SYNONYMOUS_CODING,G/G,ggG/ggA,142.0

In [5]:
out1=rev_data.groupby('Gene_ID')['Position'].value_counts()    
out1.to_csv('out1.csv')

/home/anubrata/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [19]:
out2=rev_data.groupby(['Gene_ID','Position','Old_codon/New_codon','Effect'])['Gene_ID'].count()    
out2.head()
out2.to_csv('out2.csv')

/home/anubrata/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
arti_new_nonsyn=arti_data[arti_data.Effect=='NON_SYNONYMOUS_CODING']
arti_new_syn=arti_data[arti_data.Effect=='SYNONYMOUS_CODING']
arti_new_nonsyn.reset_index(inplace=True)
arti_new_nonsyn.drop("index",axis=1,inplace=True)
arti_new_nonsyn=arti_new_nonsyn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
l=list(arti_new_nonsyn.columns)
l[4]="OlCod_NwCod"
arti_new_nonsyn.columns=l
arti_new_nonsyn.head()

/home/anubrata/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Gene_ID  Position Reference Variant OlCod_NwCod
0    thrA       877         G       T     Gcc/Tcc
1    thrA      2455         A       G     Aac/Gac
2    thrA      2485         G       A     Gcc/Acc
3    thrC      3835         T       A     gaT/gaA
4    yaaJ      5984         C       A     gaG/gaT

In [7]:
arti_new_nonsyn.to_csv('arti_new_nonsyn')

In [8]:
arti_new_syn=arti_data[arti_data.Effect=='SYNONYMOUS_CODING']
arti_new_syn=arti_new_syn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
arti_new_syn.columns=l
arti_new_syn.reset_index(inplace=True)
arti_new_syn.drop("index",axis=1,inplace=True)
pd.value_counts(arti_new_syn.Gene_ID)
a=arti_new_syn[arti_new_syn.Gene_ID=="STM4261"]
b=arti_new_syn[arti_new_syn.Reference=="G"]

#arti_new_syn.to_csv('arti_new_syn')

In [9]:
#arti_old_data=pd.read_csv("Cip_2B_SNP.csv",encoding="utf-16")
#arti_old_data.info()
#arti_old_nonsyn=arti_old_data[arti_old_data.Effect=='NON_SYNONYMOUS_CODING']
#arti_old_syn=arti_old_data[arti_old_data.Effect=='SYNONYMOUS_CODING']
#arti_old_nonsyn.reset_index(inplace=True)
#arti_old_nonsyn.drop("index",axis=1,inplace=True)
arti_old_nonsyn=arti_old_nonsyn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
arti_old_nonsyn.head()
arti_old_nonsyn.to_csv('arti_old_nonsyn')

NameError: name 'arti_old_nonsyn' is not defined

In [ ]:
arti_old_syn=arti_old_data[arti_old_data.Effect=='SYNONYMOUS_CODING']
arti_old_syn=arti_old_syn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
arti_old_syn.head()
arti_old_syn.to_csv('arti_old_syn')

In [ ]:
arti_old_syn.head()

In [ ]:
#arti_new_syn.drop('index',axis=1,inplace=True)
arti_new_syn_counts=pd.value_counts(arti_new_syn.Gene_ID)
arti_new_syn_counts=pd.DataFrame(arti_new_syn_counts)
arti_new_syn_counts.reset_index(inplace=True)

arti_new_syn_counts.columns=["Gene_ID","count"]
arti_new_syn_counts.head()
arti_new_syn_counts.to_csv('new_syn_counts')