In [1]:
import os
import numpy as np
import pandas as pd
os.getcwd()

'/home/anubrata/Documents/aarti_data/new_data'

In [59]:
arti_data=pd.read_excel("all_samples_EDIT.xls",sheet_name=0,header=0)

In [60]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_columns',None)
#arti_data.drop('Repl2_244M',axis=1,inplace=True)
#arti_data.drop(['CDS_size','Codons_around','Custom_interval_ID','AAs_around'],axis=1,inplace=True)
#arti_data.drop(['Codon_Num(CDS)','AAs_around'],axis=1,inplace=True)
#arti_data.drop(['Codon_Degeneracy'],axis=1,inplace=True)
#arti_data['stm_1_S13']=arti_data['stm_1_S13'].replace('./.','Non_Var')
#arti_data['ntrc_gDNA_2']=arti_data['ntrc_gDNA_2'].replace('./.','Non_Var')
#arti_data['SCV_2']=arti_data['SCV_2'].replace('./.','Non_Var')
arti_data.reset_index()
arti_data.head()

,Position,REF,ALT,Repl2_244M,Change_type,Coverage,Warnings,Gene_ID,Bio_type,Transcript_ID,Pass,Effect,AA_new_old,Codon_new_old,codon_num,codon_degen,Unnamed: 16,Unnamed: 17
0,507,C,T,1/1,SNP,4179.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggC/ggT,57,4.0,NaN,NaN
1,537,A,C,1/1,SNP,4690.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,A/A,gcA/gcC,67,4.0,NaN,NaN
2,744,A,C,1/1,SNP,5187.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggA/ggC,136,4.0,NaN,NaN
3,747,T,C,1/1,SNP,5560.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,L/L,ctT/ctC,137,4.0,NaN,NaN
4,762,G,A,1/1,SNP,5371.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggG/ggA,142,4.0,NaN,NaN

In [72]:
#arti_data.groupby(['Warnings','Gene_ID'])['Warnings'].count().sort_values(ascending=False)

In [80]:
warn=arti_data[arti_data['Warnings'].str.match(r'^WARNING')==True]
warn.to_csv("warn.csv")

In [78]:
no_warn=arti_data[arti_data['Warnings'].str.match(r'^WARNING')!=True]
len(no_warn)
no_warn.to_csv("no_warn.csv")

In [46]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
#arti_data.groupby('Bio_type')['Trancript_ID'].count()
arti_data.groupby('Trancript_ID')['Trancript_ID'].count().sort_values(ascending=True).to_csv("error_Trancript_ID.csv")

/home/anubrata/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

In [49]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
#arti_data.groupby('Bio_type')['Trancript_ID'].count()
arti_data.groupby('Bio_type')['Bio_type'].count().sort_values(ascending=False).to_csv("error_Bio_type.csv")

/home/anubrata/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

In [60]:
arti_data.groupby(['Gene_ID','Warnings'])['Gene_ID'].count().sort_values(ascending=False)

Gene_ID        Warnings
Gene_gene2690  Gene_gene2690    179
STM4261        gene4264         174
metH           gene4191          73
STM4489        gene4493          72
carB           gene66            59
                               ...
ymdA           gene1142           1
ppa            gene4418           1
yqjB           gene3227           1
yceI           gene1153           1
Gene_gene1182  Gene_gene1182      1
Name: Gene_ID, Length: 3879, dtype: int64

In [84]:
data_warn=pd.read_csv("warn.csv",header=0)
data_warn.head()

,Position,REF,ALT,Repl2_244M,Change_type,Coverage,Warnings,Gene_ID,Gene_name,Bio_type,Transcript_ID,Effect,AA_new_old,codon_new_old,codon_num
0,42970,A,G,1/1,SNP,4097,WARNING_TRANSCRIPT_NO_START_CODON,gene36,STM0037,Transcript_gene36,Exon_NC_003197.2_42931_44184,SYNONYMOUS_CODING,K/K,aaA/aaG,13
1,43006,C,T,1/1,SNP,4733,WARNING_TRANSCRIPT_NO_START_CODON,gene36,STM0037,Transcript_gene36,Exon_NC_003197.2_42931_44184,SYNONYMOUS_CODING,S/S,agC/agT,25
2,43252,G,A,1/1,SNP,4439,WARNING_TRANSCRIPT_NO_START_CODON,gene36,STM0037,Transcript_gene36,Exon_NC_003197.2_42931_44184,SYNONYMOUS_CODING,R/R,agG/agA,107
3,43420,T,C,1/1,SNP,3788,WARNING_TRANSCRIPT_NO_START_CODON,gene36,STM0037,Transcript_gene36,Exon_NC_003197.2_42931_44184,SYNONYMOUS_CODING,D/D,gaT/gaC,163
4,43447,T,C,1/1,SNP,3822,WARNING_TRANSCRIPT_NO_START_CODON,gene36,STM0037,Transcript_gene36,Exon_NC_003197.2_42931_44184,SYNONYMOUS_CODING,R/R,cgT/cgC,172

In [85]:
data_nowarn=pd.read_csv("no_warn.csv",header=0)
data_nowarn.head()

,Position,REF,ALT,Repl2_244M,Change_type,Coverage,Warnings,Gene_ID,Gene_name,Bio_type,Transcript_ID,Effect,AA_new_old,Codon_new_old,codon_num
0,507,C,T,1/1,SNP,4179.0,NaN,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,SYNONYMOUS_CODING,G/G,ggC/ggT,57.0
1,537,A,C,1/1,SNP,4690.0,NaN,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,SYNONYMOUS_CODING,A/A,gcA/gcC,67.0
2,744,A,C,1/1,SNP,5187.0,NaN,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,SYNONYMOUS_CODING,G/G,ggA/ggC,136.0
3,747,T,C,1/1,SNP,5560.0,NaN,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,SYNONYMOUS_CODING,L/L,ctT/ctC,137.0
4,762,G,A,1/1,SNP,5371.0,NaN,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,SYNONYMOUS_CODING,G/G,ggG/ggA,142.0