In [3]:
import os
import numpy as np
import pandas as pd

os.getcwd()

'/home/anubrata/Documents/datascience'

In [4]:
arti_data=pd.read_csv("A_cip-1_SNP.csv",encoding="utf-16")

In [5]:
arti_new_nonsyn=arti_data[arti_data.Effect=='NON_SYNONYMOUS_CODING']
arti_new_syn=arti_data[arti_data.Effect=='SYNONYMOUS_CODING']
arti_new_nonsyn.reset_index(inplace=True)
arti_new_nonsyn.drop("index",axis=1,inplace=True)
arti_new_nonsyn=arti_new_nonsyn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
l=list(arti_new_nonsyn.columns)
l[4]="OlCod_NwCod"
arti_new_nonsyn.columns=l
arti_new_nonsyn.head()

/home/anubrata/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Gene_ID  Position Reference Variant OlCod_NwCod
0    thrA       877         G       T     Gcc/Tcc
1    thrA      2455         A       G     Aac/Gac
2    thrA      2485         G       A     Gcc/Acc
3    thrC      3835         T       A     gaT/gaA
4    yaaJ      5984         C       A     gaG/gaT

In [56]:
arti_new_nonsyn.to_csv('arti_new_nonsyn')

In [17]:
arti_new_syn=arti_data[arti_data.Effect=='SYNONYMOUS_CODING']
arti_new_syn=arti_new_syn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
arti_new_syn.columns=l
arti_new_syn.reset_index(inplace=True)
arti_new_syn.drop("index",axis=1,inplace=True)
pd.value_counts(arti_new_syn.Gene_ID)
a=arti_new_syn[arti_new_syn.Gene_ID=="STM4261"]
b=arti_new_syn[arti_new_syn.Reference=="G"]

#arti_new_syn.to_csv('arti_new_syn')

In [70]:
#arti_old_data=pd.read_csv("Cip_2B_SNP.csv",encoding="utf-16")
#arti_old_data.info()
#arti_old_nonsyn=arti_old_data[arti_old_data.Effect=='NON_SYNONYMOUS_CODING']
#arti_old_syn=arti_old_data[arti_old_data.Effect=='SYNONYMOUS_CODING']
#arti_old_nonsyn.reset_index(inplace=True)
#arti_old_nonsyn.drop("index",axis=1,inplace=True)
arti_old_nonsyn=arti_old_nonsyn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
arti_old_nonsyn.head()
arti_old_nonsyn.to_csv('arti_old_nonsyn')

In [72]:
arti_old_syn=arti_old_data[arti_old_data.Effect=='SYNONYMOUS_CODING']
arti_old_syn=arti_old_syn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
arti_old_syn.head()
arti_old_syn.to_csv('arti_old_syn')

In [73]:
arti_old_syn.head()

  Gene_ID  Position Reference Variant Old_codon/New_codon
0    thrA       507         C       T             ggC/ggT
1    thrA       537         A       C             gcA/gcC
2    thrA       744         A       C             ggA/ggC
3    thrA       747         T       C             ctT/ctC
4    thrA       762         G       A             ggG/ggA

In [112]:
#arti_new_syn.drop('index',axis=1,inplace=True)
arti_new_syn_counts=pd.value_counts(arti_new_syn.Gene_ID)
arti_new_syn_counts=pd.DataFrame(arti_new_syn_counts)
arti_new_syn_counts.reset_index(inplace=True)

arti_new_syn_counts.columns=["Gene_ID","count"]
arti_new_syn_counts.head()
arti_new_syn_counts.to_csv('new_syn_counts')