In [7]:
import os
import numpy as np
import pandas as pd

os.getcwd()

'/home/anubrata/Documents/aarti_data/Aarti_Data'

In [2]:
os.chdir('/home/anubrata/Documents/aarti_data/Aarti_Data/')

In [5]:
with open ('geneID.txt','r') as fh1:
    data1=fh1.readlines()
    print(data1[0:5])
fh1.close()

['geneID\tcount\n', 'aadA\t15\n', 'aarF\t4\n', 'aas\t22\n', 'aat\t7\n']

In [10]:
geneID=pd.read_csv('geneIDt.csv')
geneID=geneID.iloc[:,:5]
geneID.head()

   name   Entry       Entry.1     Gene names
0  aadA  Q8ZPX9  Q8ZPX9_SALTY  STM1264  aadA
1   aas  Q8ZMA4     AAS_SALTY  STM3010   aas
2   aat  P67613    LFTR_SALTY  STM0955   aat
3  abrB  Q8ZQU5  Q8ZQU5_SALTY  STM0729  abrB
4  accA  P0A1C3    ACCA_SALTY  STM0232  accA

In [14]:
highSNP=pd.read_csv('highSNP.csv',header=None)
highSNP.head()

      0   1
0  aadA  15
1   aas  22
2  aceE  31
3  aceF  26
4  acnA  44

In [33]:
highSNP.columns=['name','num']
highSNP.head()
highSNP_unp=pd.merge(highSNP,geneID,how="inner",on='name')  
highSNP_unp.head()
highSNP_unp.to_csv('highSNPuniprot.csv')
os.getcwd()

'/home/anubrata/Documents/aarti_data/Aarti_Data'

In [25]:
highSNP.columns=['gene','count']
name_high=list(highSNP.gene)
match_high=geneID.loc[geneID.name.isin(name_high),['name','Entry']]

In [26]:
highSNP.info

<bound method DataFrame.info of      gene  count
0    aadA     15
1     aas     22
2    aceE     31
3    aceF     26
4    acnA     44
..    ...    ...
898  yraL     14
899  yraM     26
900  yrfF     15
901  ytfN     40
902  zntA     33

[903 rows x 2 columns]>

In [27]:
geneID.info

<bound method DataFrame.info of       name   Entry       Entry.1     Gene names
0     aadA  Q8ZPX9  Q8ZPX9_SALTY  STM1264  aadA
1      aas  Q8ZMA4     AAS_SALTY  STM3010   aas
2      aat  P67613    LFTR_SALTY  STM0955   aat
3     abrB  Q8ZQU5  Q8ZQU5_SALTY  STM0729  abrB
4     accA  P0A1C3    ACCA_SALTY  STM0232  accA
...    ...     ...           ...      ...   ...
2731  znuB  Q8ZNV6  Q8ZNV6_SALTY  STM1893  znuB
2732  znuC  Q8ZNV7    ZNUC_SALTY  STM1892  znuC
2733  zraP  Q9L9I0    ZRAP_SALTY  STM4172  zraP
2734   zur  Q8ZKH6  Q8ZKH6_SALTY  STM4241   zur
2735   zwf  Q8ZNW2  Q8ZNW2_SALTY  STM1886   zwf

[2736 rows x 5 columns]>