In [39]:
import os
import numpy as np
import pandas as pd

os.getcwd()

'/home/anubrata/Documents/datascience'

In [40]:
arti_data=pd.read_csv("A_cip-1_SNP.csv",encoding="utf-16")

In [44]:
arti_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40858 entries, 0 to 40857
Data columns (total 16 columns):
Chrom                  40858 non-null object
Position               40858 non-null int64
Reference              40858 non-null object
Variant                40858 non-null object
Type                   40858 non-null object
Zygosity               40858 non-null object
Quality                40858 non-null float64
Coverage               40858 non-null int64
Gene_ID                40858 non-null object
Trancript_ID           40858 non-null object
Exon_ID                40858 non-null object
Exon_Rank              40858 non-null object
Effect                 40858 non-null object
old_AA/new_AA          36001 non-null object
Old_codon/New_codon    36001 non-null object
Codon_Num(CDS)         36001 non-null float64
dtypes: float64(2), int64(2), object(12)
memory usage: 5.0+ MB

In [56]:
rev_data=arti_data.drop(['Chrom','Type','Zygosity','Trancript_ID','Exon_ID'],axis=1)
rev_data['Gene_ID']=rev_data['Gene_ID'].replace('--','Intergenic')
highly_mutated=pd.value_counts(rev_data.Gene_ID)
highly_mutated[highly_mutated>50]

Intergenic       4418
STM4261           159
Gene_gene2690     151
metH               65
mukB               55
STM4489            53
gltB               52
rpoC               52
Name: Gene_ID, dtype: int64

In [58]:
high_mut_list=['STM4261','Gene_gene2690','metH','mukB','STM4489','gltB','rpoC']
high_mut_df=rev_data.loc[rev_data['Gene_ID'].isin(high_mut_list)]

In [37]:

arti_data[arti_data.Gene_ID=='--']

,Chrom,Position,Reference,Variant,Type,Zygosity,Quality,Coverage,Gene_ID,Trancript_ID,Exon_ID,Exon_Rank,Effect,old_AA/new_AA,Old_codon/New_codon,Codon_Num(CDS)
42,NC_003197.2,5890,T,C,SNP,Hom,221.9990,1221,--,--,--,--,INTERGENIC,NaN,NaN,NaN
62,NC_003197.2,7420,G,T,SNP,Hom,221.9990,1090,--,--,--,--,INTERGENIC,NaN,NaN,NaN
63,NC_003197.2,7432,A,G,SNP,Hom,221.9990,1125,--,--,--,--,INTERGENIC,NaN,NaN,NaN
64,NC_003197.2,7508,T,C,SNP,Hom,221.9990,1287,--,--,--,--,INTERGENIC,NaN,NaN,NaN
78,NC_003197.2,9326,A,G,SNP,Hom,221.9990,1440,--,--,--,--,INTERGENIC,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40840,NC_003197.2,4855324,A,G,SNP,Hom,88.9974,1039,--,--,--,--,INTERGENIC,NaN,NaN,NaN
40841,NC_003197.2,4855368,A,G,SNP,Hom,221.9990,1083,--,--,--,--,INTERGENIC,NaN,NaN,NaN
40842,NC_003197.2,4855382,G,A,SNP,Hom,221.9990,1062,--,--,--,--,INTERGENIC,NaN,NaN,NaN
40846,NC_003197.2,4856558,T,C,SNP,Hom,221.9990,512,--,--,--,--,INTERGENIC,NaN,NaN,NaN
40847,NC_003197.2,4856655,A,C,SNP,Hom,221.9990,1209,--,--,--,--,INTERGENIC,NaN,NaN,NaN

In [14]:
out1=rev_data.groupby('Gene_ID')['Position'].value_counts(sort=True)    
out1.to_csv('out1.csv')

/home/anubrata/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [15]:
out2=rev_data.groupby(['Gene_ID','Position','Old_codon/New_codon','Effect'])['Gene_ID'].count()    
out2.head()
#out2.to_csv('out2.csv')

Gene_ID  Position  Old_codon/New_codon  Effect
STM0014  15175     gaG/gaA              SYNONYMOUS_CODING        1
         15271     gaT/gaC              SYNONYMOUS_CODING        1
         15289     agC/agT              SYNONYMOUS_CODING        1
         15404     Tcc/Acc              NON_SYNONYMOUS_CODING    1
         15406     tcC/tcT              SYNONYMOUS_CODING        1
Name: Gene_ID, dtype: int64

In [7]:
arti_new_nonsyn=arti_data[arti_data.Effect=='NON_SYNONYMOUS_CODING']
arti_new_syn=arti_data[arti_data.Effect=='SYNONYMOUS_CODING']
arti_new_nonsyn.reset_index(inplace=True)
arti_new_nonsyn.drop("index",axis=1,inplace=True)
arti_new_nonsyn=arti_new_nonsyn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
l=list(arti_new_nonsyn.columns)
l[4]="OlCod_NwCod"
arti_new_nonsyn.columns=l
arti_new_nonsyn.head()

/home/anubrata/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Gene_ID  Position Reference Variant OlCod_NwCod
0    thrA       877         G       T     Gcc/Tcc
1    thrA      2455         A       G     Aac/Gac
2    thrA      2485         G       A     Gcc/Acc
3    thrC      3835         T       A     gaT/gaA
4    yaaJ      5984         C       A     gaG/gaT

In [16]:
out3=rev_data.groupby('Gene_ID')['Gene_ID'].count()  
out3.head()

Gene_ID
--               4418
Gene_gene1182       1
Gene_gene1241       1
Gene_gene1244       2
Gene_gene1470      10
Name: Gene_ID, dtype: int64

In [24]:
x=pd.value_counts(rev_data.Gene_ID)
x[x>50]

--               4418
STM4261           159
Gene_gene2690     151
metH               65
mukB               55
STM4489            53
gltB               52
rpoC               52
Name: Gene_ID, dtype: int64

In [8]:
arti_new_nonsyn.to_csv('arti_new_nonsyn')

In [9]:
arti_new_syn=arti_data[arti_data.Effect=='SYNONYMOUS_CODING']
arti_new_syn=arti_new_syn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
arti_new_syn.columns=l
arti_new_syn.reset_index(inplace=True)
arti_new_syn.drop("index",axis=1,inplace=True)
pd.value_counts(arti_new_syn.Gene_ID)
a=arti_new_syn[arti_new_syn.Gene_ID=="STM4261"]
b=arti_new_syn[arti_new_syn.Reference=="G"]

#arti_new_syn.to_csv('arti_new_syn')

In [10]:
#arti_old_data=pd.read_csv("Cip_2B_SNP.csv",encoding="utf-16")
#arti_old_data.info()
#arti_old_nonsyn=arti_old_data[arti_old_data.Effect=='NON_SYNONYMOUS_CODING']
#arti_old_syn=arti_old_data[arti_old_data.Effect=='SYNONYMOUS_CODING']
#arti_old_nonsyn.reset_index(inplace=True)
#arti_old_nonsyn.drop("index",axis=1,inplace=True)
arti_old_nonsyn=arti_old_nonsyn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
arti_old_nonsyn.head()
arti_old_nonsyn.to_csv('arti_old_nonsyn')

NameError: name 'arti_old_nonsyn' is not defined

In [ ]:
arti_old_syn=arti_old_data[arti_old_data.Effect=='SYNONYMOUS_CODING']
arti_old_syn=arti_old_syn.loc[:,["Gene_ID","Position","Reference","Variant","Old_codon/New_codon"]]
arti_old_syn.head()
arti_old_syn.to_csv('arti_old_syn')

In [ ]:
arti_old_syn.head()

In [ ]:
#arti_new_syn.drop('index',axis=1,inplace=True)
arti_new_syn_counts=pd.value_counts(arti_new_syn.Gene_ID)
arti_new_syn_counts=pd.DataFrame(arti_new_syn_counts)
arti_new_syn_counts.reset_index(inplace=True)

arti_new_syn_counts.columns=["Gene_ID","count"]
arti_new_syn_counts.head()
arti_new_syn_counts.to_csv('new_syn_counts')

In [12]:
import os
os.getcwd()

'/home/anubrata/Documents/datascience'